<h1>Люди</h1>

<ul>
    {% for i in worker_list %}
    <li>
        <img src="{{ i.photo.url }}" alt="" width="300" height="200">
        <h2>Имя: {{ i.username }}</h2>
        <p>Телефон: {{ i.phone_number }}</p>
        <p>EMAIL: {{ i.email }}</p>
        <p>Адресс: {{ i.adress }}</p>
        <p>Пол: {{ i.gender }}</p>
        <p>Статус: {{ i.status }}</p>
        <p>Дети: {{ i.kids }}</p>
        <p>Позиция: {{ i.position }}</p>
        <p>Зарплата: {{ i.salary }} сом</p>
        <p>Дата приема на работу: {{ i.hire_date }}</p>
    </li>
    {% endfor %}
</u>

<form action="{% url 'unlog' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Выход</button>

</form>
