<h1>Книги </h1>

<div class="pagination">
        <span class="step-links">
            {% if book.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ book.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ book.number }} из {{ book.paginator.num_pages }}.
            </span>

            {% if book.has_next %}
                <a href="?page={{ book.next_page_number }}">Следующая</a>
                <a href="?page={{ book.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>


<ul>
    {% for i in book %}
    <li>
        <h2>Название: {{ i.title }}</h2>
        <img src="{{ i.photo.url }}" alt="{{ i.title }}" width="300" height="200">
        
        <p>Время создания поста: {{ i.created_at }}</p>
        <br>
        <a href="{% url 'book_id' i.id %}">Подробнее</a>
    </li>
    {% endfor %}
</ul>


